@inject IAnimeService AnimeService

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-media-play" aria-hidden="true"></span> Play
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rankings">
                <span class="oi oi-star" aria-hidden="true"></span> Rankings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
